* text=auto

*.c text eol=lf
*.cc text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.hpp text eol=lf
*.cmake text eol=lf
CMakeLists.txt text eol=lf
Makefile text eol=lf

*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.sql text eol=lf
*.test text eol=lf
*.sh text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf
.gitmodules text eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.zip binary
*.7z binary
*.dll binary
*.exe binary
*.lib binary
*.pdb binary
*.duckdb_extension binary
*.fdb binary
*.fbk binary
*.gbak binary
